html
  head
    title= 'Statistics'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    
  body
    h3.m-2= 'Ratings'
    table.table.table-bordered.table-hover
      tr
        th.m-2 shop
        th.m-2 email
        th.m-2 comment
      each review in reviews
        tr
          td.m-1= review.shop
          td.m-1= review.email 
          td.m-1= review.quote

